DATABASE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=
STRIPE_PRICE_2WEEKS=price_1TbIcpHluwdGuEsNKes35HgO
STRIPE_PRICE_1MONTH=price_1TbIcqHluwdGuEsNYqyfBuRo
STRIPE_PRICE_3MONTHS=price_1TbIcrHluwdGuEsNqGZwCIkt
STRIPE_PRICE_LIFETIME=price_1TbIcsHluwdGuEsNpFGJYSXV
ADMIN_PASSWORD=
FRONTEND_URL=https://fimamacro.com
API_BASE_URL=https://api.fimamacro.com
